/*
Styles for Teatracker by Sally Jenkinson
www.sallyjenkinson.co.uk
@sjenkinson
*/

/* General styles */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html, body, div { 
	margin: 0; 
	padding: 0; 
	border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color:#173a53;
}

ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
	display: block;	
}


/* Title section */
#teatitle {
    margin:0 auto;
    width:100%;
    margin-top:0em;
    text-align:left;
}

h1 {
    padding:0.2em 0 0 0;
    margin:0;
    font-size: 5em;
    font-weight: 100;
    font-family: 'Sue Ellen Francisco', cursive;
    color:#fff;
    text-transform: lowercase;
    text-align: center;
}


/* Summary of today's tea */
.statsholder {
    margin:-0.5em 0 0.5em 0;
    background-color: #f36639;
    padding: 1em;
}

.subtitle {
    text-transform:uppercase;
    font-size:1.2em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.cupstoday {
    color:#fff;
}

.numcups {
    font-size:4em;
    font-weight:700;
    padding-right:0.2em;
    color:#173a53;
}

.stathome {
    margin-top:-1.3em;
    font-size: 1em;
}


/* Main elements for teas */

.grid {
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    max-width: 76em;
    margin: 0 auto;
}
    
.grid li {
    padding: 0 0.5em 0.5em 0;
    width: 100%;
    float: left;
    margin-bottom:0.3em;
}
    
#teacard {
    font-size:0.9em;
    text-transform:uppercase;
}

#teacard a {
    text-decoration:none;
    color:#f36639;
    font-weight:700;
    padding:1em 1em 1em 1.5em;
}

.grid li > div {
    background-color:#dbdbdb;
    padding:1.2em 0 1.2em 1em;
}


/* Footer - link to full stats and by SJ link */
.stats {
    font-size:1.5em;
    text-align:right;
    text-transform:uppercase;
    font-weight:700;
    background-color:#fff;
    margin:0 0.25em;
    padding:0.5em 0.5em;
}

.stats a {
    color:#173a53;
    text-decoration:none;
}

.credit {
    font-size:0.8em;
    margin-left:1em;
    color: #fff;
}

footer a {
    color:#fff;
}